
<h1 class="feedforward-title col-xs-12 col-sm-6 col-sm-offset-2 col-lg-12 col-lg-offset-2 text-center">FeedForward! Where your shitty opinion has value.</h1>


<div class="feed_list_header">
  <span class="article col-xs-12 col-sm-6 col-md-6 col-sm-offset-2 col-lg-12 col-lg-offset-2">
  <div class="text-left animated slideInLeft">Article Feed</div><div class="text-right animated slideInRight">Article Feed</div> </span>
  <div class="feed-list col-xs-12 col-sm-6 col-md-6 col-sm-offset-2 col-lg-12 col-lg-offset-2 text-center">
    <% @feeds.each do |feed| %>
      <%if current_user.admin? %>
        <span class='col-xs-12 col-sm-6 col-md-6 col-sm-offset-2 col-lg-12 col-lg-offset-2 text-center feed-box'>
        <div><h3><%= feed.description %></h3>
          <% youtube =youtube_embed(feed.url) %>
          <p class="video"><%= raw(youtube) %></p>
        <%= link_to "Website", feed.url%> | <%= link_to "delete", feed, method: :delete, data: { confirm: "You sure?" } %></div> </span>
        <p class='col-xs-12 col-sm-6 col-sm-offset-2 col-lg-12 col-lg-offset-2 text-center animated slideInLeft feed-box'><%= link_to "comments", feed %></p>
       <%else%>
        <div class='col-xs-12 col-sm-6 col-sm-offset-2 col-lg-1 col-lg-offset-2 animated slideInLeft feed-box text-center'>
          <div>
            <%= feed.description %>
          </div>
          <p class='col-xs-12 col-sm-6 col-sm-offset-2 col-lg-1 col-lg-offset-2 animated slideInLeft feed-box text-center'><%= link_to "comments", feed %></p>
          <%= link_to "Website", feed.url%>
        </div>

       <%end%>
    <% end %>
  </div>
</div>
