<div class="feed-details">
  <h1><%= @feed.description %></h1>
  <div class="feed-url">
    <h3>Wesbite/Video Link: <%= @feed.url %></h3>
  </div>
  <%if user_signed_in? && current_user.admin? %>
    <span class='animated slideInLeft feed-box'>
      <% youtube =youtube_embed(@feed.url) %>
      <p><%= raw(youtube) %></p>
   <%else%>
    <div class='animated slideInLeft feed-box'>
        <% youtube =youtube_embed(@feed.url) %>
        <p><%= raw(youtube) %></p>

    </div>
   <%end%>
</div>
<div id="app" data-currentuser='<%= current_user.to_json %>' class="col-xs-12 col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-2"></div>
