<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FeedForward" %></title>
    
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">FeedForward</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <%if !user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Sign up", new_user_registration_path %></a>
          <a class="nav-link"><%= link_to "Log in", new_user_session_path %></a>
          <%else%>
        <li class="nav-item">
          <a class="nav-link"><%= link_to "Profile", user_path(current_user.id)%></a>
          <a class"nav-link"><%= link_to "Sign Out", destroy_user_session_path%></a>
        </li>
        <%end%>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
